fastapi
uvicorn
python-multipart
pydantic
pydantic-settings
PyPDF2
python-docx
chromadb
google-generativeai
openai
supabase
python-dotenv
pytest
langchain
langchain-community
langchain-core
langchain-google-genai
langchain-openai
sentence-transformers
SQLAlchemy
psycopg2-binary
